---
title: mach3
contentful:
  content_type:'*'
---
doctype html
html
  include /partials/head.pug
  body
    h1 #{title}
    p A static site builder using gulp, metalsmith, and gulpsmith.
    img(src='https:' + common.onesheet.items[0].fields.image.fields.file.url)
